<a href="https://colab.research.google.com/github/raulFuzita/cct-project-muhammad-ca/blob/developer/CCT_project_Muhammad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BSc (Hons) in Computing in IT (4th Yr)

## Data Exploration & Preparation - CA

Lecturer: Dr. Muhammad Iqbal

Group Names:                     IDs:

David Silva                      2018264

Fatime Reisenleitner             2020491

Luiz Santos Dias                 2018429

Raul Macedo Fuzita               2018337

## Test Dataset

**Fatime**

In [ ]:
# Import CSV File into R with Github
f_data <- read.csv("https://raw.githubusercontent.com/raulFuzita/cct-project-muhammad-ca/main/sales-3%20SuperstoreSalesTraining.csv")

In [ ]:
# function to return 1st n rows (default=6)
head(f_data, n=15)

  Row Order.Priority Order.Date Order Discount Unit.Price Order.Quantity
1 1   High           01/01/2010 28774 10%        6        32
2 2   Not Specified  01/01/2010 88028 8%        96         2
3 3   Critical       02/01/2010  9285 6%        41         3
4 4   Low            02/01/2010 37537 0%       292         4
5 5   Low            02/01/2010 37537 7%       101        43
6 6   Low            02/01/2010 37537 5%       155        32
  Sales   Profit  Shipping.Cost ⋯ Customer_ID Customer.Name Region
1  172.80  106.36  5            ⋯ 1656        Joy Corbett   AsiaPac
2  176.64   45.64 35            ⋯ 2211        Anita Hahn    North America
3  115.62   33.90  3            ⋯  949        Ernest Oh     North America
4 1168.00  605.08 49            ⋯   68        Scott Bunn    North America
5 4038.99 2647.66 45            ⋯   68        Scott Bunn    North America
6 4712.00 2671.40  7            ⋯   68        Scott Bunn    North America
  State      Country...Region         City          Postal.Code Ship.Date
1 Central    Fiji                     Suva             NA       02/01/2010
2 Maryland   United States of America Bowie         20715       03/01/2010
3 California United States of America Los Angeles   90049       04/01/2010
4 New York   United States of America New York City 10177       02/01/2010
5 New York   United States of America New York City 10177       04/01/2010
6 New York   United States of America New York City 10177       09/01/2010
  Ship.Mode
1 Regular Air
2 Express Air
3 Regular Air
4 Delivery Truck
5 Delivery Truck
6 Regular Air
  SubRegion
1
2 East
3 West
4 East
5 East
6 East

**David** Test

In [ ]:
DavidData <- read.csv("https://raw.githubusercontent.com/raulFuzita/cct-project-muhammad-ca/main/sales-3%20SuperstoreSalesTraining.csv")

In [ ]:
head(DavidData)

  Row Order.Priority Order.Date Order Discount Unit.Price Order.Quantity
1 1   High           01/01/2010 28774 10%        6        32
2 2   Not Specified  01/01/2010 88028 8%        96         2
3 3   Critical       02/01/2010  9285 6%        41         3
4 4   Low            02/01/2010 37537 0%       292         4
5 5   Low            02/01/2010 37537 7%       101        43
6 6   Low            02/01/2010 37537 5%       155        32
  Sales   Profit  Shipping.Cost ⋯ Customer_ID Customer.Name Region
1  172.80  106.36  5            ⋯ 1656        Joy Corbett   AsiaPac
2  176.64   45.64 35            ⋯ 2211        Anita Hahn    North America
3  115.62   33.90  3            ⋯  949        Ernest Oh     North America
4 1168.00  605.08 49            ⋯   68        Scott Bunn    North America
5 4038.99 2647.66 45            ⋯   68        Scott Bunn    North America
6 4712.00 2671.40  7            ⋯   68        Scott Bunn    North America
  State      Country...Region         City          Postal.Code Ship.Date
1 Central    Fiji                     Suva             NA       02/01/2010
2 Maryland   United States of America Bowie         20715       03/01/2010
3 California United States of America Los Angeles   90049       04/01/2010
4 New York   United States of America New York City 10177       02/01/2010
5 New York   United States of America New York City 10177       04/01/2010
6 New York   United States of America New York City 10177       09/01/2010
  Ship.Mode
1 Regular Air
2 Express Air
3 Regular Air
4 Delivery Truck
5 Delivery Truck
6 Regular Air
  SubRegion
1
2 East
3 West
4 East
5 East
6 East

### Luiz test

In [ ]:
luizData <- read.csv("https://raw.githubusercontent.com/raulFuzita/cct-project-muhammad-ca/main/sales-3%20SuperstoreSalesTraining.csv")

In [ ]:
head(luizData)

  Row Order.Priority Order.Date Order Discount Unit.Price Order.Quantity
1 1   High           01/01/2010 28774 10%        6        32
2 2   Not Specified  01/01/2010 88028 8%        96         2
3 3   Critical       02/01/2010  9285 6%        41         3
4 4   Low            02/01/2010 37537 0%       292         4
5 5   Low            02/01/2010 37537 7%       101        43
6 6   Low            02/01/2010 37537 5%       155        32
  Sales   Profit  Shipping.Cost ⋯ Customer_ID Customer.Name Region
1  172.80  106.36  5            ⋯ 1656        Joy Corbett   AsiaPac
2  176.64   45.64 35            ⋯ 2211        Anita Hahn    North America
3  115.62   33.90  3            ⋯  949        Ernest Oh     North America
4 1168.00  605.08 49            ⋯   68        Scott Bunn    North America
5 4038.99 2647.66 45            ⋯   68        Scott Bunn    North America
6 4712.00 2671.40  7            ⋯   68        Scott Bunn    North America
  State      Country...Region         City          Postal.Code Ship.Date
1 Central    Fiji                     Suva             NA       02/01/2010
2 Maryland   United States of America Bowie         20715       03/01/2010
3 California United States of America Los Angeles   90049       04/01/2010
4 New York   United States of America New York City 10177       02/01/2010
5 New York   United States of America New York City 10177       04/01/2010
6 New York   United States of America New York City 10177       09/01/2010
  Ship.Mode
1 Regular Air
2 Express Air
3 Regular Air
4 Delivery Truck
5 Delivery Truck
6 Regular Air
  SubRegion
1
2 East
3 West
4 East
5 East
6 East

**Raul**

In [ ]:
raul_df <- read.csv("https://raw.githubusercontent.com/raulFuzita/cct-project-muhammad-ca/main/sales-3%20SuperstoreSalesTraining.csv")

In [ ]:
head(raul_df)

  Row Order.Priority Order.Date Order Discount Unit.Price Order.Quantity
1 1   High           01/01/2010 28774 10%        6        32
2 2   Not Specified  01/01/2010 88028 8%        96         2
3 3   Critical       02/01/2010  9285 6%        41         3
4 4   Low            02/01/2010 37537 0%       292         4
5 5   Low            02/01/2010 37537 7%       101        43
6 6   Low            02/01/2010 37537 5%       155        32
  Sales   Profit  Shipping.Cost ⋯ Customer_ID Customer.Name Region
1  172.80  106.36  5            ⋯ 1656        Joy Corbett   AsiaPac
2  176.64   45.64 35            ⋯ 2211        Anita Hahn    North America
3  115.62   33.90  3            ⋯  949        Ernest Oh     North America
4 1168.00  605.08 49            ⋯   68        Scott Bunn    North America
5 4038.99 2647.66 45            ⋯   68        Scott Bunn    North America
6 4712.00 2671.40  7            ⋯   68        Scott Bunn    North America
  State      Country...Region         City          Postal.Code Ship.Date
1 Central    Fiji                     Suva             NA       02/01/2010
2 Maryland   United States of America Bowie         20715       03/01/2010
3 California United States of America Los Angeles   90049       04/01/2010
4 New York   United States of America New York City 10177       02/01/2010
5 New York   United States of America New York City 10177       04/01/2010
6 New York   United States of America New York City 10177       09/01/2010
  Ship.Mode
1 Regular Air
2 Express Air
3 Regular Air
4 Delivery Truck
5 Delivery Truck
6 Regular Air
  SubRegion
1
2 East
3 West
4 East
5 East
6 East

## Importing Dataset to the Assessment Task

In [189]:
R.Version()$version.string

[1] "R version 4.1.1 (2021-08-10)"

In [1]:
# df stands for Data Frame
# Done by Raul
df <- read.csv("https://raw.githubusercontent.com/raulFuzita/cct-project-muhammad-ca/main/sales-3%20SuperstoreSalesTraining.csv")

In [2]:
# Done by Luiz
head(df)

  Row Order.Priority Order.Date Order Discount Unit.Price Order.Quantity
1 1   High           01/01/2010 28774 10%        6        32
2 2   Not Specified  01/01/2010 88028 8%        96         2
3 3   Critical       02/01/2010  9285 6%        41         3
4 4   Low            02/01/2010 37537 0%       292         4
5 5   Low            02/01/2010 37537 7%       101        43
6 6   Low            02/01/2010 37537 5%       155        32
  Sales   Profit  Shipping.Cost ⋯ Customer_ID Customer.Name Region
1  172.80  106.36  5            ⋯ 1656        Joy Corbett   AsiaPac
2  176.64   45.64 35            ⋯ 2211        Anita Hahn    North America
3  115.62   33.90  3            ⋯  949        Ernest Oh     North America
4 1168.00  605.08 49            ⋯   68        Scott Bunn    North America
5 4038.99 2647.66 45            ⋯   68        Scott Bunn    North America
6 4712.00 2671.40  7            ⋯   68        Scott Bunn    North America
  State      Country...Region         City          Postal.Code Ship.Date
1 Central    Fiji                     Suva             NA       02/01/2010
2 Maryland   United States of America Bowie         20715       03/01/2010
3 California United States of America Los Angeles   90049       04/01/2010
4 New York   United States of America New York City 10177       02/01/2010
5 New York   United States of America New York City 10177       04/01/2010
6 New York   United States of America New York City 10177       09/01/2010
  Ship.Mode
1 Regular Air
2 Express Air
3 Regular Air
4 Delivery Truck
5 Delivery Truck
6 Regular Air
  SubRegion
1
2 East
3 West
4 East
5 East
6 East

In [5]:
# Our dataset contains more than 10.000 rows and 12 columns
dim(df)

[1] 16798    26

In [6]:
# get columns' names
colnames(df)

 [1] "Row"                 "Order.Priority"      "Order.Date"
 [4] "Order"               "Discount"            "Unit.Price"
 [7] "Order.Quantity"      "Sales"               "Profit"
[10] "Shipping.Cost"       "Product.Base.Margin" "Department"
[13] "Container"           "Category"            "Item"
[16] "Customer.Segment"    "Customer_ID"         "Customer.Name"
[19] "Region"              "State"               "Country...Region"
[22] "City"                "Postal.Code"         "Ship.Date"
[25] "Ship.Mode"           "SubRegion"

## Assessment Task

This is a group-based project (3 - 4 students) using R programming language or any other tool. Analyse a specific problem only in the following areas, such as Sales, CRM, Schools & Colleges, Role-playing game and Music (The dataset should have at least 10000 rows and 12 columns after cleaning and there is not any upper bound). The type of question(s) that you should formulate for the project will depend on the chosen domain of the dataset that your group is considering for Data Exploration and Preparation (DEP) project. The objectives of DEP project are based on the domain knowledge of data. The group would need to complete the following tasks during the development of this group project.

1.   Identify which variables are categorical, discrete and continuous in the chosen data set and show using some visualization or plot. Explore whether there are missing values for any of the variables.

2.   Calculate the statistical parameters (mean, median, minimum, maximum, and standard deviation) for each of the numerical variables.

In [161]:
# Get all numerical columns x %>% dplyr::select(where(is.numeric))
# link: https://stackoverflow.com/questions/5863097/selecting-only-numeric-columns-from-a-data-frame
# Done by Raul
library("dplyr")
num_only_df <- df %>% dplyr::select(where(is.numeric))
num_only_df[is.na(num_only_df)] <- 0
head(num_only_df)

  Row Order Unit.Price Order.Quantity Sales   Profit  Shipping.Cost Customer_ID
1 1   28774   6        32              172.80  106.36  5            1656
2 2   88028  96         2              176.64   45.64 35            2211
3 3    9285  41         3              115.62   33.90  3             949
4 4   37537 292         4             1168.00  605.08 49              68
5 5   37537 101        43             4038.99 2647.66 45              68
6 6   37537 155        32             4712.00 2671.40  7              68
  Postal.Code
1     0
2 20715
3 90049
4 10177
5 10177
6 10177

In [162]:
# Done by Raul
any(is.na(num_only_df))

[1] FALSE

In [187]:
# mn <- sapply(num_only_df, mean)
# Generating statistical parameters (mean, median, minimum, maximum, and standard deviation)
# Done by Raul
summarise(num_only_df,
  variables = colnames(num_only_df),
  mean = sapply(num_only_df, mean), 
  median = sapply(num_only_df, median), 
  min = sapply(num_only_df, min),
  max = sapply(num_only_df, max),
  standard_deviation = sapply(num_only_df, sd)
)

  variables      mean        median    min      max      standard_deviation
1 Row             8399.50000  8399.500     1.00 16798.00  4849.30925
2 Order          59334.67722 72895.500     3.00 91591.00 31827.18325
3 Unit.Price        89.33016    21.000     1.00  6783.00   290.34258
4 Order.Quantity    26.21985    16.000     1.00   288.00    27.18466
5 Sales           1790.06917   336.000     0.90 99130.12  4645.26592
6 Profit           882.14618   133.645 -4301.08 60250.64  2355.55204
7 Shipping.Cost     12.85701     6.000     0.00   165.00    17.25349
8 Customer_ID     1754.26283  1778.000     1.00  3403.00   978.71637
9 Postal.Code    30559.55447 14215.000     0.00 99362.00 34282.17599

3.   Apply  Min-Max  Normalization,Z-score  Standardization and  Robust  scalar on  the  numerical  data variables.

4.   Line, Scatter and Heatmaps can be used to show the correlation between the features of the dataset.

5.   Graphics  and  descriptive  understanding  should  be  provided  along  with Data  Exploratory  analysis (EDA).Identify sub-groups of features that can explore some interesting facts

6.   Apply  dummy  encoding  to  categorical  variables  (at  least  one  variable  use  from  the  data  set)  and discuss the benefits of dummy encoding to understand the categorical data.

7.   Apply  PCA  with  your  chosen  number  of  components.  Write  up  a  short  profile  of  the  first  few components extracted based on your understanding.

8.   What  is  the  purpose  of  dimensionality  reduction? Explore  the  situations  where  you  can  gain  the benefit of dimensionality reduction for data analysis.

###Section 2:



Your group will present their findings and defend the results in the report (MS Doc/ pdf or any other readable
format). Your report should capture the following aspects that are relevant to your project investigations.

1. Description of problem **domain** and chosen **data set**.

2. Motivates for the **problem** and **Challenges** faced in Data Exploration project.

3. Characterization, description and explanation of **techniques** used to **prepare** the **data set** (size /
attributes / missing values / outliers).

4. Find unusual patterns by identifying **variations** and **covariation** between the features in the dataset
and perform Exploratory Data Analysis (EDA) to justify outcomes.

5. Show the implementation of **encoding scheme**, such as one-hot. Apply Principal Component Analysis
(**PCA**) for the dimensionality reduction. Interpret and explain the outcomes obtained using PCA.

6. Provide an **explanation** of the **code** submitted along with the project (Code must be commented).

7. **Conclusion**s of the project should be specified at the end of the report. Citations and references to be
in **Harvard** Style.